@font-face {
    font-family: "better_together";
    src: url("Fonts/mandarin.otf"); format("opentype");
}

.btn-lg {

}

body {
    min-width: 100%;
    min-height: 100vh;
}

html {
    min-width: 100%;
    min-height: 100%;
}

p {
    font-family: better_together;
    font-size: 200px;
    width: 1900px;
    height: 600px;
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 40px;
    color: black;
}

.nav-tabs {
    border-bottom: 0px solid #ddd;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.nav-tabs > li > a:hover {
    border-color: black black black
}

a {
    font-family: better_together;
    color: black;
    text-decoration: none;
    font-size: 50px;
}

.nav-tabs > li > a {
    margin-left: 800px;
    line-height: 1;
    border: 0px solid transparent;
    border-radius: 20px 70px 20px 70px;
    vertical-align: middle;
}

.nav > li:focus, .nav > li:hover {
    text-decoration: none;
    background-color: transparent;
    -webkit-filter: blur(2px);
    filter: blur(1px);
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

a {
    font-size: 210px;
    letter-spacing: 15px;
    color: black;
    font-family: better_together;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

a.blur {
    text-decoration: none;
    color: black;
}

a.blur:hover, a.blur:focus {
    text-decoration: none;
    color: #262626;
}

.textshadow a.blur, .textshadow a.blur:hover, .textshadow a.blur:focus {
    text-decoration: none;
    color: rgba(0, 0, 0, 0);
    outline: 0 none;
    -webkit-transition: 400ms ease 100ms;
    -moz-transition: 400ms ease 100ms;
    transition: 400ms ease 100ms;
}

.container1 {
    position: relative;
    background-image: url("Images/sport-skateboard-skateboarder-skateboarding.jpg");
    background-size: cover;
    background-position: center center;
    min-width: 100%;
    min-height: 100vh;
    /* -webkit-filter: blur(3px);  */

}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}




