.map {
    height: 700px;
    float: left;

}

.form {
    float: right;
    height: 700px;
    padding: 50px;
}

#description {
    height: 200px;
    width: 231.328px;
}

textarea {
    resize: none;
}

.row {
    height: 720px;
}

.info {
    border: 0px;
}

.textarea {
    min-height: 120px;
}

input[data-readonly] {
    pointer-events: none;
}

.readonly {
    background-color: #eeeeee;
}