<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Myspot Manual</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../assets/howto_styles.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <img src="/images/ps1.png">
    <p class="instruction" align="center">Find skatepark and mark it by clicking on the map. Sometimes it is easier when you choose a
        satellite
        view.</p>
    <img src="/images/ps2.png">
    <p class="instruction" align="center">When you click on the map, coordinates fills automatically. Add description and other details.<br>
        When you finish, click on the button "Add new skatepark!""</p>
    <img class="center-block" src="/images/ps3.png">
    <p class="instruction" align="center">You and every user will be able to see your location as soon as we approve it.</p>
</div>
<div class="container-fluid">
    <footer>
        <p><a class="ridelite" href="https://www.facebook.com/ridelite/">RIDELITE</a> &copy; 2017 Kuba Łopacki</p>
    </footer>
</div>

</body>
</html>